{% extends 'base.html' %}

{% block title %}Student booking{% endblock %}

{% block content %}
<style>
    @media (max-width:768px) {
        .trip-box-input {
            width: 350px;
        }
    }
</style>

<div class="section">
    <div class="circle">
        <a href="{{url_for('home')}}"><i class="fa-solid fa-arrow-left"></i></a>
    </div>
    <div class="trip-box-input">
        <div class="sacco">
            <div class="logo">
                <div class="img">
                    <img src="{{url_for('static', filename='images/mat.jpg')}}">
                </div>
                <h2>TRAVEL BILA <span>'WAS'</span> BOOKING FOR STUDENTS</h2>
            </div>
        </div>
        {% with messages=get_flashed_messages(with_categories=True) %}
        {% if messages %}
        {% for category, msg in messages %}
            <div class="alert alert-{{category}} alert-dismissible fade show name" role="alert">
                <strong>{{msg}}</strong>
                <button type="button" class="btn-close name1" data-bs-dismiss="alert" aria-label="close"></button>
            </div>
        {% endfor %}
        {% endif %}
        {% endwith %}

        <form class="row g-3" action="" method="POST" enctype="multipart/form-data">
            <div class="col-md-6">
                <label for="inputText4" class="form-label">Institution Name</label>
                <input type="text" class="form-control" id="inputEmail4" name="institution"
                       value="{{institution}}" placeholder="Enter Institution name">
            </div>

            <!-- Loop through destinations and render destination fields for each selected destination -->
            {% for destination in destinations %}
            <div class="col-md-6">
                <label for="inputEmail4" class="form-label">Choose event location</label>
                <select id="inputState" class="form-select" name="destination_{{ loop.index }}" value=""
                        style="border: 2px solid #555;">
                    <option value="{{destination}}" {% if destination == selected_destination %}selected{% endif %}>
                        {{destination}}
                    </option>
                    <option value="Nairobi">Nairobi</option>
                    <option value="Eldoret">Eldoret</option>
                    <option value="Nakuru">Nakuru</option>
                    <option value="Nyeri">Nyeri</option>
                    <option value="Nyahururu">Nyahururu</option>
                </select>
            </div>
            {% endfor %}

            <div class="col-12">
                <label for="inputAddress" class="form-label">Number of students</label>
                <input type="text" class="form-control" name="students" placeholder="Enter number of students"
                       value="{{students}}" oninput="updateAmountValue()">
            </div>
            <div class="col-md-6">
                <label for="inputCity" class="form-label">Number of Matatus</label>
                <input type="text" class="form-control" id="inputCity" placeholder="Enter number of matatus"
                       value="{{matatu}}" name="matatus">
            </div>
            <div class="col-md-3">
                <label for="inputState" class="form-label">Date of travel</label>
                <input type="datetime-local" class="form-control" id="inputEmail4" value="{{date}}" name="date">
            </div>
            <div class="col-md-3">
                <label for="inputState" class="form-label">Amount</label>
                <input type="text" class="form-control" id="amountInput" readonly name="amount" placeholder="Enter amount"
                       value="{{ amount }}">
            </div>
            <div class="col-12">
                <button type="button" class="btn btn-primary" onclick="addDestination()">Add Destination</button><br>
            </div>
            <div id="additional_destinations">
                <!-- Hidden template for additional destination fields -->
                {% for i in range(num_additional_destinations) %}
                <div class="col-md-6">
                    <label for="inputEmail4" class="form-label">Choose event location</label>
                    <select id="inputState" class="form-select" name="destination_{{ loop.index0 + loop_length }}"
                            value="" style="border: 2px solid #555;">
                        <option value="Nairobi">Nairobi</option>
                        <option value="Eldoret">Eldoret</option>
                        <option value="Nakuru">Nakuru</option>
                        <option value="Nyeri">Nyeri</option>
                        <option value="Nyahururu">Nyahururu</option>
                    </select>
                </div>
                {% endfor %}
            </div>
            <input type="hidden" id="destination_counter" name="destination_counter" value="{{ destinations|length }}">
            <input type="hidden" id="destinationConcatenated" name="destinationConcatenated" value="{{ destination }}">
            <div class="col-12">
                <button type="submit" class="btn btn-primary">Book now</button>
            </div>
        </form>
    </div>
</div>

<script>
    function updateAmountValue() {
        const amountInput = document.getElementById('amountInput');
        const numStudentsInput = document.querySelector('input[name="students"]');
        const numStudents = parseInt(numStudentsInput.value);

        
        if (!isNaN(numStudents) && numStudents > 0) {
            
            const selectedDestination = document.querySelector('select[name^="destination_"]:last-child').value;

            
            let baseAmount = 600;
            if (selectedDestination === 'Nairobi') {
                baseAmount = 800;
            } else if (selectedDestination === 'Eldoret') {
                baseAmount = 700;
            } else if (selectedDestination === 'Nakuru') {
                baseAmount = 750;
            } else if (selectedDestination === 'Nyeri') {
                baseAmount = 600;
            } else if (selectedDestination === 'Nyahururu') {
                baseAmount = 650;
            }

            const totalAmount = baseAmount * numStudents;
            amountInput.value = totalAmount;
        } else {
            
            amountInput.value = '';
        }
    }

    // Attach an event listener to the form
    const form = document.querySelector('form');
    form.addEventListener('submit', updateAmountValue);

    // Function to add additional destination fields
    function addDestination() {
        const additionalDestinationsDiv = document.getElementById('additional_destinations');
        const destinationCounterInput = document.getElementById('destination_counter');
        const numAdditionalDestinations = parseInt(destinationCounterInput.value);
        const newDestinationIndex = numAdditionalDestinations + 1;

        
        const newDestinationField = `
        <div class="col-md-6">
            <label for="inputEmail4" class="form-label">Choose event location</label>
            <select id="inputState" class="form-select" name="destination_${newDestinationIndex}" value=""
                    style="border: 2px solid #555;">
                <option value="Nairobi">Nairobi</option>
                <option value="Eldoret">Eldoret</option>
                <option value="Nakuru">Nakuru</option>
                <option value="Nyeri">Nyeri</option>
                <option value="Nyahururu">Nyahururu</option>
            </select>
        </div>
        `;

        
        additionalDestinationsDiv.insertAdjacentHTML('beforeend', newDestinationField);

        
        destinationCounterInput.value = newDestinationIndex;

        
        updateConcatenatedDestinations();
    }

    
    function updateConcatenatedDestinations() {
        const selectElements = document.querySelectorAll('select[name^="destination_"]');
        const concatenatedDestinations = [];
        selectElements.forEach((selectElement) => {
            concatenatedDestinations.push(selectElement.value);
        });

        const concatenatedDestinationsInput = document.getElementById('destinationConcatenated');
        concatenatedDestinationsInput.value = concatenatedDestinations.join(', ');
    }
</script>

{% endblock %}
